body .content-wrapper .main-header:before, body .content-wrapper .radial-bg:before, body .content-wrapper .radial-bg.darkgray-bg .begin-btn:after {
  content: "";
  position: absolute;
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

.vertical-helper {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

.vertical-content {
  display: inline-block;
  width: 99%;
  vertical-align: middle; }

body {
  margin: 0;
  font-family: "Open Sans"; }
  body .content-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    body .content-wrapper.quiz-page .radial-bg.lighgray-bg {
      height: 65vh;
      padding-top: 130px; }
    body .content-wrapper.quiz-page .green-bg {
      height: 35vh; }
      body .content-wrapper.quiz-page .green-bg p {
        width: 100%; }
        body .content-wrapper.quiz-page .green-bg p:first-of-type {
          margin-bottom: 0;
          font-size: 17px; }
        body .content-wrapper.quiz-page .green-bg p:nth-child(2) {
          margin: 10px 0;
          font-size: 12px; }
    body .content-wrapper.quiz-page #question-3 .question-box-container .question-box .info-box {
      height: 13vh; }
    body .content-wrapper.quiz-page .question-box-container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: row; }
      body .content-wrapper.quiz-page .question-box-container .question-box {
        width: calc(50% - 3px); }
        body .content-wrapper.quiz-page .question-box-container .question-box:first-of-type {
          margin-right: 3px; }
        body .content-wrapper.quiz-page .question-box-container .question-box:last-of-type {
          margin-left: 3px; }
        body .content-wrapper.quiz-page .question-box-container .question-box .question-header {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center; }
          body .content-wrapper.quiz-page .question-box-container .question-box .question-header h3 {
            text-transform: uppercase;
            font-size: 24px;
            line-height: 22px;
            text-align: center; }
            body .content-wrapper.quiz-page .question-box-container .question-box .question-header h3 span {
              font-size: 16px; }
        body .content-wrapper.quiz-page .question-box-container .question-box .info-box {
          background-color: #fff;
          padding: 10px 5px; }
          body .content-wrapper.quiz-page .question-box-container .question-box .info-box p {
            margin: 0;
            font-size: 9px; }
    body .content-wrapper .main-header {
      position: relative;
      z-index: 2; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .main-header {
          height: 32px;
          top: -10px;
          padding: 15px 10px 5px; } }
      body .content-wrapper .main-header:before {
        background-color: #494644;
        width: 100%;
        height: 100%;
        transform: skewY(-3deg);
        z-index: 0;
        left: 0;
        top: 0; }
      body .content-wrapper .main-header img {
        position: relative;
        z-index: 1;
        height: 40px; }
    body .content-wrapper .red-bg {
      background-color: #cb151a; }
    body .content-wrapper .blue-bg {
      background-color: #4c59a4; }
    body .content-wrapper .red-text {
      color: #cb151a; }
    body .content-wrapper .blue-text {
      color: #4c59a4; }
    body .content-wrapper .radial-bg {
      display: flex;
      flex-direction: column;
      color: #fff;
      position: relative; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .radial-bg {
          top: -11px;
          padding: 0 25px 0; } }
      body .content-wrapper .radial-bg:before {
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: skewY(-3deg); }
      body .content-wrapper .radial-bg.green-bg:before {
        background: linear-gradient(#a0c966, #55af38);
        box-shadow: 0px -6px 28px 8px rgba(0, 0, 0, 0.7);
        z-index: 1; }
      body .content-wrapper .radial-bg.green-bg p {
        font-size: 20px; }
        body .content-wrapper .radial-bg.green-bg p img {
          width: 100%; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .radial-bg.lighgray-bg {
          flex-direction: column;
          padding-top: 10px;
          padding-bottom: 35px; } }
      body .content-wrapper .radial-bg.lighgray-bg:before {
        background: #dbdbdb; }
      body .content-wrapper .radial-bg.lighgray-bg p {
        color: #494644;
        font-size: 14px; }
      body .content-wrapper .radial-bg.lighgray-bg input {
        background-color: #fff;
        z-index: 1;
        position: relative;
        border: none;
        font-family: "Open Sans"; }
        @media (min-width: 319px) and (max-width: 767px) {
          body .content-wrapper .radial-bg.lighgray-bg input {
            height: 20px;
            padding: 5px 10px; } }
      body .content-wrapper .radial-bg.darkgray-bg {
        flex-direction: column;
        border: none;
        position: relative; }
        @media (min-width: 319px) and (max-width: 767px) {
          body .content-wrapper .radial-bg.darkgray-bg {
            height: 100%; } }
        body .content-wrapper .radial-bg.darkgray-bg:before {
          background-color: #f7e83a;
          top: -2px; }
        body .content-wrapper .radial-bg.darkgray-bg.disabled {
          cursor: not-allowed;
          pointer-events: none; }
          body .content-wrapper .radial-bg.darkgray-bg.disabled:before {
            background-color: #9B9898; }
        body .content-wrapper .radial-bg.darkgray-bg .begin-btn {
          color: #494644;
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          border: none;
          outline: none;
          text-align: left;
          padding: 0 25px;
          text-transform: uppercase;
          font-size: 20px;
          text-decoration: none;
          display: flex;
          align-items: center;
          cursor: pointer; }
          body .content-wrapper .radial-bg.darkgray-bg .begin-btn:focus, body .content-wrapper .radial-bg.darkgray-bg .begin-btn:hover, body .content-wrapper .radial-bg.darkgray-bg .begin-btn:active {
            border: none;
            outline: none; }
      body .content-wrapper .radial-bg p {
        position: relative;
        z-index: 1; }
    body .content-wrapper .cubo-wrapper {
      position: relative;
      z-index: 2; }
      body .content-wrapper .cubo-wrapper .container {
        width: 100%;
        height: 110px;
        perspective: 1100px;
        perspective-origin: -50% -50%;
        float: left; }
      body .content-wrapper .cubo-wrapper .cube {
        transform-style: preserve-3d;
        transform: rotateY(35deg) rotateX(-13deg) rotateZ(-15deg);
        left: 15%;
        position: absolute;
        margin: 0;
        width: 100px;
        height: 100px;
        transition: 1s; }
        body .content-wrapper .cubo-wrapper .cube.first-role.top.left {
          z-index: 3; }
        body .content-wrapper .cubo-wrapper .cube.first-role.top.right {
          left: 32%;
          z-index: 4;
          top: 20%; }
        body .content-wrapper .cubo-wrapper .cube.first-role.bottom.left {
          z-index: 2;
          top: 77%; }
        body .content-wrapper .cubo-wrapper .cube.first-role.bottom.right {
          left: 32%;
          z-index: 3;
          top: 77%; }
        body .content-wrapper .cubo-wrapper .cube.first-role.blue .side.front {
          background-color: #4C59A4; }
        body .content-wrapper .cubo-wrapper .cube.first-role.blue .side.right {
          background-color: #42519F; }
        body .content-wrapper .cubo-wrapper .cube.first-role.blue .side.top {
          background-color: #536AB1; }
        body .content-wrapper .cubo-wrapper .cube.first-role.red .side.front {
          background-color: #E2293F; }
        body .content-wrapper .cubo-wrapper .cube.first-role.red .side.right {
          background-color: #A80519; }
        body .content-wrapper .cubo-wrapper .cube.first-role.red .side.top {
          background-color: #E2293F; }
        body .content-wrapper .cubo-wrapper .cube.first-role .side {
          background: rgba(255, 255, 255, 0.6); }
          body .content-wrapper .cubo-wrapper .cube.first-role .side.front {
            background-color: #f2f2f2; }
          body .content-wrapper .cubo-wrapper .cube.first-role .side.right {
            background-color: #CFCECE; }
          body .content-wrapper .cubo-wrapper .cube.first-role .side.top {
            background-color: #fff; }
        body .content-wrapper .cubo-wrapper .cube .side {
          position: absolute;
          width: 4em;
          height: 4em; }
          body .content-wrapper .cubo-wrapper .cube .side.front {
            transform: rotateY(-90deg) translateZ(2em); }
          body .content-wrapper .cubo-wrapper .cube .side.right {
            transform: translateZ(2em); }
          body .content-wrapper .cubo-wrapper .cube .side.back {
            transform: rotateY(90deg) translateZ(2em); }
          body .content-wrapper .cubo-wrapper .cube .side.top {
            transform: rotateX(90deg) translateZ(2em); }
          body .content-wrapper .cubo-wrapper .cube .side.bottom {
            transform: rotateX(-90deg) translateZ(2em); }
          body .content-wrapper .cubo-wrapper .cube .side.left {
            transform: rotateY(-180deg) translateZ(2em); }
      body .content-wrapper .cubo-wrapper label {
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        background: #f5f5f5;
        float: left;
        text-align: center;
        margin-right: 5px; }
      body .content-wrapper .cubo-wrapper label:hover {
        background: #eee; }
      body .content-wrapper .cubo-wrapper input {
        position: absolute;
        left: -9999px; }
      body .content-wrapper .cubo-wrapper input:checked + label {
        font-weight: bold; }
      body .content-wrapper .cubo-wrapper input[value="front"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateY(0); }
      body .content-wrapper .cubo-wrapper input[value="left"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateY(90deg); }
      body .content-wrapper .cubo-wrapper input[value="right"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateY(-90deg); }
      body .content-wrapper .cubo-wrapper input[value="top"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateX(-90deg); }
      body .content-wrapper .cubo-wrapper input[value="bottom"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateX(90deg); }
      body .content-wrapper .cubo-wrapper input[value="back"]:checked ~ .container .cube {
        transform: translateZ(-150px) rotateY(180deg); }
