body .content-wrapper .main-header:before, body .content-wrapper .radial-bg:before, body .content-wrapper .radial-bg.darkgray-bg button:after {
  content: "";
  position: absolute;
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block; }

.clearfix:after {
  clear: both; }

.vertical-helper {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

.vertical-content {
  display: inline-block;
  width: 99%;
  vertical-align: middle; }

body {
  margin: 0;
  font-family: "Open Sans"; }
  body .content-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    body .content-wrapper.quiz-page .green-bg {
      height: 50vh; }
      body .content-wrapper.quiz-page .green-bg p {
        width: 100%; }
    body .content-wrapper.quiz-page .lighgray-bg {
      height: 50vh; }
    body .content-wrapper.quiz-page .question-box-container {
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 2; }
      body .content-wrapper.quiz-page .question-box-container .question-box {
        width: calc(50% - 3px); }
        body .content-wrapper.quiz-page .question-box-container .question-box:first-of-type {
          margin-right: 3px; }
        body .content-wrapper.quiz-page .question-box-container .question-box:last-of-type {
          margin-left: 3px; }
        body .content-wrapper.quiz-page .question-box-container .question-box h3 {
          text-transform: uppercase; }
    body .content-wrapper .main-header {
      position: relative;
      z-index: 2; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .main-header {
          height: 32px;
          top: -10px;
          padding: 15px 10px 5px; } }
      body .content-wrapper .main-header:before {
        background-color: #494644;
        width: 100%;
        height: 100%;
        transform: skewY(-3deg);
        z-index: 0;
        left: 0;
        top: 0; }
      body .content-wrapper .main-header img {
        position: relative;
        z-index: 1;
        height: 40px; }
    body .content-wrapper .red-bg {
      background-color: #cb151a; }
    body .content-wrapper .blue-bg {
      background-color: #4c59a4; }
    body .content-wrapper .red-text {
      color: #cb151a; }
    body .content-wrapper .blue-text {
      color: #4c59a4; }
    body .content-wrapper .radial-bg {
      display: flex;
      flex-direction: column;
      color: #fff;
      position: relative; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .radial-bg {
          top: -11px;
          padding: 0 30px 0; } }
      body .content-wrapper .radial-bg:before {
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: skewY(-3deg); }
      body .content-wrapper .radial-bg.green-bg:before {
        background: linear-gradient(#a0c966, #55af38);
        box-shadow: 0px -6px 28px 8px rgba(0, 0, 0, 0.7);
        z-index: 1; }
      body .content-wrapper .radial-bg.green-bg p {
        font-size: 20px; }
        body .content-wrapper .radial-bg.green-bg p img {
          width: 100%; }
      @media (min-width: 319px) and (max-width: 767px) {
        body .content-wrapper .radial-bg.lighgray-bg {
          flex-direction: column;
          padding-top: 10px;
          padding-bottom: 35px; } }
      body .content-wrapper .radial-bg.lighgray-bg:before {
        background: #dbdbdb; }
      body .content-wrapper .radial-bg.lighgray-bg p {
        color: #494644;
        font-size: 14px; }
      body .content-wrapper .radial-bg.lighgray-bg input {
        background-color: #fff;
        z-index: 1;
        position: relative;
        border: none;
        font-family: "Open Sans"; }
        @media (min-width: 319px) and (max-width: 767px) {
          body .content-wrapper .radial-bg.lighgray-bg input {
            height: 20px;
            padding: 5px 10px; } }
      body .content-wrapper .radial-bg.darkgray-bg {
        flex-direction: column;
        border: none; }
        @media (min-width: 319px) and (max-width: 767px) {
          body .content-wrapper .radial-bg.darkgray-bg {
            padding: 0 40px;
            height: 100%; } }
        body .content-wrapper .radial-bg.darkgray-bg:before {
          background-color: #f7e83a;
          top: -2px; }
        body .content-wrapper .radial-bg.darkgray-bg.disabled {
          cursor: not-allowed;
          pointer-events: none; }
          body .content-wrapper .radial-bg.darkgray-bg.disabled:before {
            background-color: #9B9898; }
        body .content-wrapper .radial-bg.darkgray-bg button {
          color: #494644;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 13vh;
          top: 0;
          left: 0;
          background-color: transparent;
          border: none;
          outline: none;
          text-align: left;
          padding: 0 45px;
          text-transform: uppercase;
          font-size: 20px; }
          body .content-wrapper .radial-bg.darkgray-bg button:focus, body .content-wrapper .radial-bg.darkgray-bg button:hover, body .content-wrapper .radial-bg.darkgray-bg button:active {
            border: none;
            outline: none; }
      body .content-wrapper .radial-bg p {
        position: relative;
        z-index: 1; }
