$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1200px;
$desktop-1200-width: 1201px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;
$desktop-1600-width: 1601px;
$desktop-1920-width: 1921px;

$pe-green: #55af38;
$pe-yellow: #f7e83a;
$pe-blue: #4c59a4;
$pe-red: #cb151a;
$pe-darkgray: #494644;
$pe-lightgray: #dbdbdb;

$main-font: 'Open Sans';
