body {
    margin: 0;
    font-family: $main-font;

    .content-wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        &.quiz-page {
            .green-bg {
                height: 50vh;

                p {
                    width: 100%;

                    &:first-of-type {
                        margin-bottom: 0;
                        font-size: 17px;
                    }
                    &:nth-child(2) {
                        margin: 10px 0;
                        font-size: 12px;
                    }
                }
            }
            .lighgray-bg {
                height: 50vh;
            }
            .question-box-container {
                display: flex;
                flex-direction: row;
                position: relative;
                z-index: 2;

                .question-box {
                    width: calc(50% - 3px);

                    &:first-of-type {
                        margin-right: 3px;
                    }
                    &:last-of-type {
                        margin-left: 3px;
                    }
                    .question-header {
                        padding: 1px 10px;

                        h3 {
                            text-transform: uppercase;
                            font-size: 24px;
                            line-height: 22px;
                            text-align: center;

                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    .info-box {
                        background-color: #fff;
                        padding: 10px 5px;
                        // height: 70px;

                        p {
                            margin: 0;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .main-header {
            position: relative;
            z-index: 2;

            @include phone {
                height: 32px;
                top: -10px;
                padding: 15px 10px 5px;
            }
            &:before {
                @extend %bfaf;
                background-color: $pe-darkgray;
                width: 100%;
                height: 100%;
                transform: skewY(-3deg);
                z-index: 0;
                left: 0;
                top: 0;
            }
            img {
                position: relative;
                z-index: 1;
                height: 40px;
            }
        }
        .red-bg {
            background-color: $pe-red;
        }
        .blue-bg {
            background-color: $pe-blue;
        }
        .red-text {
            color: $pe-red;
        }
        .blue-text {
            color: $pe-blue;
        }
        .radial-bg {
            display: flex;
            flex-direction: column;
            color: #fff;
            position: relative;

            @include phone {
                top: -11px;
                padding: 0 25px 0;
            }
            &:before {
                @extend %bfaf;
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: skewY(-3deg);
            }
            &.green-bg {
                &:before {
                    background: linear-gradient(#a0c966, $pe-green);
                    box-shadow: 0px -6px 28px 8px rgba(#000, 0.7);
                    z-index: 1;
                }
                p {
                    font-size: 20px;

                    img {
                        width: 100%;
                    }
                }
            }
            &.lighgray-bg {
                @include phone {
                    flex-direction: column;
                    padding-top: 10px;
                    padding-bottom: 35px;
                }

                &:before {
                    background: $pe-lightgray;
                }
                p {
                    color: $pe-darkgray;
                    font-size: 14px;
                }
                input {
                    background-color: #fff;
                    z-index: 1;
                    position: relative;
                    border: none;
                    font-family: $main-font;

                    @include phone {
                        height: 20px;
                        padding: 5px 10px;
                    }
                }
            }
            &.darkgray-bg {
                flex-direction: column;
                border: none;
                position: relative;

                @include phone {
                    height: 100%;
                }
                &:before {
                    background-color: $pe-yellow;
                    top: -2px;
                }
                &.disabled {
                    cursor: not-allowed;
                    pointer-events: none;

                    &:before {
                        background-color: #9B9898;
                    }
                }
                .begin-btn {
                    color: $pe-darkgray;
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    text-align: left;
                    padding: 0 25px;
                    text-transform: uppercase;
                    font-size: 20px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:after {
                        @extend %bfaf;
                    }
                    &:focus, &:hover, &:active {
                        border: none;
                        outline: none;
                    }
                }
            }
            p {
                position: relative;
                z-index: 1;
            }
        }
        .cubo-wrapper {
            position: relative;
            z-index: 2;

            .container {
        		width: 100%;
        		height: 110px;
        		margin: 90px auto 0;
        		perspective: 1100px;
        		perspective-origin: -50% -50%;
        		float: left;
        	}

    		.cube {
    			transform-style: preserve-3d;
    			// transform: translateZ(-150px);
    			left: 15%;
    			position: relative;
    			margin: 0;
    			width: 100%;
    			height: 100%;
    			transition: 1s;

                div {
                    width: 80px;
    				height: 50px;
    				background: rgba($pe-darkgray, 0.8);
    				position: absolute;
    				border: 1px solid $pe-darkgray;
    				text-align: center;
    				padding-top: 15px;
    				color: #fff;
    				font: 3em arial;
                }
                .front {
    				transform: rotateX(-10deg) rotateY(-70deg) translateZ(15px);
    			}

    			.left {
    				transform: rotateY(-125deg) translateZ(30px);
                    display: none;
    			}

    			.right {
    				transform: rotateX(-2deg) rotateY(54deg) rotateZ(-4deg) translateZ(46px);
                    top: -7px;
    			}

    			.top {
    				transform: rotateX(85deg) rotateY(-4deg) rotateZ(38deg) translateZ(48px);
                    left: 16px;
                    width: 70px;
                    display: none;
    			}

    			.bottom {
    				transform: rotateX(-90deg) translateZ(150px);
                    display: none;
    			}

    			.back {
    				transform: rotateY(180deg) translateZ(150px);
                    display: none;
    			}
    		}

			label {
				cursor: pointer;
				border-radius: 10px;
				padding: 10px;
				background: #f5f5f5;
				float: left;
				text-align: center;
				margin-right: 5px;
			}

			label:hover {
				background: #eee;
			}

			input {
				position: absolute;
				left: -9999px;
			}

			input:checked + label {
				font-weight: bold;
			}

			input[value="front"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateY(0);
			}

			input[value="left"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateY(90deg);
			}

			input[value="right"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateY(-90deg);
			}

			input[value="top"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateX(-90deg);
			}

			input[value="bottom"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateX(90deg);
			}

			input[value="back"]:checked ~ .container .cube {
				transform: translateZ(-150px) rotateY(180deg);
			}
        }
    }
}
