body {
    margin: 0;
    font-family: $main-font;

    .content-wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        // GERAIS
        .red-bg {
            background-color: $pe-red;
        }
        .blue-bg {
            background-color: $pe-blue;
        }
        .red-text {
            color: $pe-red;
        }
        .blue-text {
            color: $pe-blue;
        }
        .main-btn {
            position: absolute;
            bottom: 7.8vh;
            left: 0;
            background-color: $pe-yellow;
            color: $pe-darkgray;
            width: calc(100vw - 95px);
            padding: 20px 70px 20px 35px;
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: none;
            box-shadow: inset -4px 4px 10px 0 rgba(black, 0.4);

            &:after {
                @extend %bfaf;
                background-image: url('https://res.cloudinary.com/hugo-cicarelli/image/upload/v1535311969/errow.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: 20px;
                right: 35px;
                height: calc(100% - 40px);
                width: 20px;
            }
        }
        // BARRA PROGRESSO
        .progress-bar {
            position: relative;
            display: flex;
            justify-content: center;
            padding-top: 45px;

            .item {
                background-color: #333;
                height: 15px;
                width: calc((100% / 3) - 20px);
                // float: left;

                &:nth-child(2) {
                    margin: 0 10px;
                }
                &.completed {
                    background-color: $pe-yellow;
                }
            }
        }
        &.begin-page {
            .radial-bg {
                &.green-bg {
                    height: 45vh;
                }
                &.lighgray-bg {
                    height: 24.5vh;
                }
            }
        }
        // QUIZ
        &.quiz-page {
            .radial-bg {
                &.lighgray-bg {
                    height: 65vh;
                    padding-top: 145px;
                }
            }
            .green-bg {
                height: 35vh;

                p {
                    width: 100%;

                    &:first-of-type {
                        margin-bottom: 0;
                        font-size: 17px;
                    }
                    &:nth-child(2) {
                        margin: 10px 0;
                        font-size: 12px;
                    }
                }
            }

            #question-3 {
                .question-box-container {
                    .question-box {
                        .info-box {
                            height: 13vh;
                        }
                    }
                }
            }
            .question-box-container {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: row;

                .question-box {
                    width: calc(50% - 3px);

                    &:first-of-type {
                        margin-right: 3px;
                    }
                    &:last-of-type {
                        margin-left: 3px;
                    }
                    .question-header {
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h3 {
                            text-transform: uppercase;
                            font-size: 24px;
                            line-height: 22px;
                            text-align: center;

                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    .info-box {
                        background-color: #fff;
                        padding: 10px 5px;
                        // height: 70px;

                        p {
                            margin: 0;
                            font-size: 9px;
                        }
                    }
                }
            }
        }
        // PÃGINA DO RESULTADO
        &.resultado-page {
            .lighgray-bg {
                height: calc(100vh - 70px);

                & > * {
                    z-index: 1;
                }
                h3 {
                    font-weight: 900;
                    font-size: 17px;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 24px;
                    margin-bottom: 25px;

                    span {
                        display: block;
                        font-size: 29px;
                    }
                }
                .perfil-resultado {
                    width: calc(100% - 40px);
                    height: 45%;
                    padding: 20px;
                    background-color: rgba($pe-darkgray, .2);

                    .perfil-cube {
                        width: 100%;
                        height: 100%;
                        box-shadow: 3px 3px 7px 0 rgba(black, 0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.blue {
                            background-color: $pe-blue;
                        }
                        &.red {
                            background-color: $pe-red;
                        }
                        p {
                            color: white;
                            font-weight: 900;
                            font-size: 26px;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 0 50px;
                        }
                    }
                }
            }
        }
        &.detalhes-page {
            .radial-bg {
                &.green-bg {
                    height: 80vh;
                }
            }
        }
        // MENU
        .main-header {
            position: relative;
            z-index: 2;

            @include phone {
                height: 32px;
                top: -10px;
                padding: 15px 10px 5px;
            }
            &:before {
                @extend %bfaf;
                background-color: $pe-darkgray;
                width: 100%;
                height: 100%;
                transform: skewY(-3deg);
                z-index: 0;
                left: 0;
                top: 0;
            }
            img {
                position: relative;
                z-index: 1;
                height: 40px;
            }
        }
        .radial-bg {
            display: flex;
            flex-direction: column;
            color: #fff;
            position: relative;

            @include phone {
                top: -11px;
                padding: 0 25px 0;
            }
            &:before {
                @extend %bfaf;
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: skewY(-3deg);
            }
            &.green-bg {
                &:before {
                    background: radial-gradient(#a0c966, $pe-green);
                    box-shadow: 0px -6px 28px 8px rgba(#000, 0.7);
                    z-index: 1;
                }
                p {
                    font-size: 20px;

                    img {
                        width: 100%;
                    }
                }
            }
            &.lighgray-bg {
                @include phone {
                    flex-direction: column;
                    padding-top: 4vh;
                    padding-bottom: 9vh;
                }

                &:before {
                    background: $pe-lightgray;
                }
                p {
                    color: $pe-darkgray;
                    font-size: 14px;
                }
                input {
                    background-color: #fff;
                    z-index: 1;
                    position: relative;
                    border: none;
                    font-family: $main-font;

                    @include phone {
                        height: 20px;
                        padding: 5px 10px;
                    }
                }
            }
            &.darkgray-bg {
                flex-direction: column;
                border: none;
                position: relative;

                @include phone {
                    padding: 35px 0 40px;
                }
                &:before {
                    content: none;
                }
                &.disabled {
                    cursor: not-allowed;
                    pointer-events: none;

                    &:before {
                        background-color: #9B9898;
                    }
                }
                .begin-btn {
                    bottom: 4px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
            p {
                position: relative;
                z-index: 1;
            }
        }
        .cubo-wrapper {
            position: relative;
            z-index: 2;

            .container {
        		width: 100%;
        		height: 110px;
        		// margin: 160px auto 0;
        		perspective: 1100px;
        		perspective-origin: -50% -50%;
        		float: left;
        	}

    		.cube {
    			transform-style: preserve-3d;
    			transform: rotateY(35deg) rotateX(-13deg) rotateZ(-15deg);
                position: absolute;
                top: 4%;
    			left: 28%;
    			margin: 0;
    			width: 100px;
    			height: 100px;
    			transition: 1s;

                &.first-role {
                    &.top {
                        &.left {
                            z-index: 3;
                        }
                        &.right {
                            top: 20%;
                            left: 42%;
                            z-index: 4;
                        }
                    }
                    &.bottom {
                        &.left {
                            z-index: 2;
                            top: 47%;
                        }
                        &.right {
                            top: 63%;
                            left: 42%;
                            z-index: 3;
                        }
                    }
                }
                &.back-role {
                    &.top {
                        &.left {
                            z-index: 1;
                            left: 40.4%;
                            top: -12%;
                        }
                        &.right {
                            top: 4%;
                            left: 53.4%;
                            z-index: 2;
                        }
                    }
                    &.bottom {
                        &.left {
                            z-index: 1;
                            top: 47%;
                            left: 42%;
                        }
                        &.right {
                            top: 47%;
                            left: 53.2%;
                            z-index: 1;
                        }
                    }
                }
                &.blue {
                    .side {
                        &.front {
                            background-color: #4C59A4;
                        }
                        &.right {
                            background-color: #42519F;
                        }
                        &.top {
                            background-color: #536AB1;
                        }
                    }
                }
                &.red {
                    .side {
                        &.front {
                            background-color: #CB151A;
                        }
                        &.right {
                            background-color: #A80519;
                        }
                        &.top {
                            background-color: #E2293F;
                        }
                    }
                }
                .side {
                    position: absolute;
                    width: 3em;
                    height: 3em;
                    background: rgba(#fff, .6);

                    &.front {
                        transform: rotateY(-90deg) translateZ(1.5em);
                        background-color: #f2f2f2;
                    }
                    &.right  {
                        transform: translateZ(1.5em);
                        background-color: #CFCECE;
                    }
                    &.back {
                        transform: rotateY( 90deg) translateZ(1.5em);
                    }
                    &.top {
                        transform: rotateX( 90deg) translateZ(1.5em);
                        background-color: #fff;
                    }
                    &.bottom {
                        transform: rotateX(-90deg) translateZ(1.5em);
                    }
                    &.left {
                        transform: rotateY(-180deg) translateZ(1.5em);
                    }
                }
    		}
        }
    }
}
